<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.conceive">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launch"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="android.app.default_searchable"
            android:value="br.com.conseive.Searchable_Activity"/>

        <activity
            android:name=".activitys.Splash_Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.Login_Activity"
            android:theme="@style/NoactionbarLogin"/>
        <activity
            android:name=".activitys.Cadastrar_Activity"
            android:theme="@style/NoactionbarLogin"/>

        <activity android:name=".activitys.Dashboard_Activity"/>

        <activity
            android:name=".activitys.Projetos_Activity"
            android:label="@string/title_activity_projetos_"
            android:parentActivityName=".activitys.Dashboard_Activity"
            android:theme="@style/ProjetosTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.Dashboard_Activity" />
        </activity>
        <activity
            android:name=".activitys.Criar_Projeto_Activity"
            android:label="Novo Projeto"
            android:parentActivityName=".activitys.Projetos_Activity"
            android:theme="@style/ProjetosTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.Projetos_Activity" />
        </activity>
        <activity
            android:name=".activitys.Visualizacao_Projeto_Activity"
            android:parentActivityName=".activitys.Projetos_Activity"
            android:theme="@style/noactionbar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.Projetos_Activity" />
        </activity>
        <activity
            android:name=".activitys.Meu_Portfolio_Activity"
            android:label="Meu Portfólio"
            android:parentActivityName=".activitys.Dashboard_Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.Dashboard_Activity" />
        </activity>
        <activity
            android:name=".activitys.Acervo_Referecencias_Activity"
            android:label="Acervo de Referências"
            android:parentActivityName=".activitys.Dashboard_Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.Dashboard_Activity" />
        </activity>
        <activity
            android:name=".activitys.Etapa_Activity"
            android:parentActivityName=".activitys.Visualizacao_Projeto_Activity"
            android:theme="@style/noactionbar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.Visualizacao_Projeto_Activity" />
        </activity>

        <activity android:name=".activitys.Searchable_Activity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

    </application>

</manifest>